/* ------------------------------- SPINNER/PRELOADER ANIMATION ------------------------------- */

.spinner {
  margin: 40vh auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: white;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
  display: flex;
  background-color: #2C3E50;
}

/* ------------------------------- TEXT ANIMATION ------------------------------- */

.intro-name {
  display: flex;
  /* border: 2px solid red; */
}

.ml11 {
  font-weight: 700;
  font-size: 3.5em;
  /* overflow-x: hidden; */
}

.ml11 .text-wrapper {
  /* overflow: hidden; */
  /* overflow-x: hidden; */
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  /* background-color: red; */
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  /* margin-bottom: 90px; */
  /* border: 2px solid red; */
  display: inline-block;
  line-height: 1em;
}

/* ------------------------------- ANIMATIONS/BOTTOM-BORDER ------------------------------- */

.Animation {
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.Animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: var(--White-color);
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  transition: width 0.3s ease, color 0.3s ease;
}
/* ------------------------------- ON-HOVER ------------------------------- */

.Light-Hover:hover {
  transition: color 0.3s ease;
  color: var(--Font-color);
}
.Dark-Hover:hover {
  transition: color 0.3s ease;
  color: var(--White-color);
}
.Animation:hover::after {
  width: 100%;
}

/* ------------------------------- FADING IN FROM SIDE ------------------------------- */

.from-left {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.from-left,
.from-right {
  transition: opacity 800ms ease-in, -webkit-transform 800ms ease-in;
  transition: opacity 800ms ease-in, transform 800ms ease-in;
  transition: opacity 800ms ease-in, transform 800ms ease-in,
  -webkit-transform 800ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

/* ------------------------------- HAMBURGER BAR ANIMATION ------------------------------- */
.ham{
  /* border: 2px solid red; */
  display: none;
  position: absolute;
  right: 10px;
  top: 35px;
}
#hamburger-menu {
  width: 30px;
  height: 25px;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}

#hamburger-menu div {
  position: absolute;
  background: white;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

#hamburger-menu div:nth-child(1) {
  top: 0;
}

#hamburger-menu div:nth-child(2) {
  top: 11px;
}

#hamburger-menu div:nth-child(3) {
  bottom: 0;
}

.closed div:nth-child(1) {
  transform: translateY(0) rotate(0deg);
}

.closed div:nth-child(2) {
  opacity: 1;
}

.closed div:nth-child(3) {
  transform: translateY(0) rotate(0deg);
}

.opened div:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.opened div:nth-child(2) {
  opacity: 0;
}

.opened div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}