@media screen and (max-width: 1187px) {
    /* ----------------------------- HEADER SECTION -------------------------------  */
    .Header{
        padding-bottom: 80px;
    }
    /* ----------------------------- ABOUT SECTION ------------------------------- */
    .About{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .about-heading{
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .about-content{
        padding: 0;
        margin-top: 0;
        margin-bottom: 30px;
    }
    .img{
        max-width: 50%;
        margin: 0 ;
    }
    /* ----------------------------- PROJECT SECTION ------------------------------- */
    .projects-heading{
        width: 100%;
        text-align: center;
    }
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .card-content{
        margin: 0;
        padding: 0;
    }
    .card-heading{
        width: 100%;
        margin-top: 20px;
    }
    .projects-btn{
        margin: 20px auto;
    }
    /* ----------------------------- CONTACT SECTION ------------------------------- */
    .contact-heading{
        width: 100%;
        text-align: center;
    }
} 

@media screen and (max-width: 868px) {
    /* ------------------------------ HEADER SECTION ------------------------------- */
    .text-wrapper{
        font-size: 3rem;
        /* border: 1px solid red; */
        overflow-x: hidden;
    }
    .introduction{
        font-size: 3rem;
        padding-left: 2rem;
    }
    .role{
        padding-left: 2rem;
    }
    .btn{
        margin: 1.5rem 2rem;
    }
    
}

@media screen and (max-width: 760px) {
    /* ----------------------------- ABOUT SECTION ------------------------------- */
    .img{
        margin: 0 auto;
    }
    /* ----------------------------- CONTACT SECTION ------------------------------- */
    .media-heading{
        font-size: 30px;
    }
    .media-icons{
        font-size: 7vh;
        padding: 0 10px;
    }
}

@media screen and (max-width: 585px) {
    /* ----------------------------- PROJECT SECTION ------------------------------- */
    .card{
        padding: 20px;
    }
    .card-content{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    /* ------------------------------ PROJECT SECTION ------------------------------- */
    .card-heading{
        border-bottom: none;
    }
}
@media  screen and (max-width: 496px) {
    /* ----------------------------- HEADER SECTION ------------------------------- */
    .text-wrapper{
        font-size: 1.5rem;
        align-items: center;
    }
    .introduction{
        font-size: 1.5rem;
        /* padding-left: 2rem; */
    }
    .intro-name{
        /* border: 2px solid green; */
        text-align: center;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .role{
        font-size: 15px;
    }
    /* ----------------------------- STACK SECTION ------------------------------- */
    .stack-heading{
        font-size: 5vh;
    }
    .stack-logo{
        font-size: 5vh;
        margin: 10px;
    }
    .project-img{
        max-width: 50%;
    }
    
}

@media screen and (max-width: 327px) {
    /* ----------------------------- HEADER SECTION ------------------------------- */
    .text-wrapper{
        font-size: 1.2rem;
        align-items: center;
        margin-bottom: 5px;
    }
    .introduction{
        font-size: 1.2rem;
    }
    .intro-name{
        text-align: center;
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
    }
    .role{
        font-size: 15px;
    }
    /* ----------------------------- ABOUT SECTION ------------------------------- */
    .about-heading{
        font-size: 20px;
    }
    .about-role{
        font-size: 18px;
    }
    .about-description-child{
        font-size: 15px;
        font-weight: 450;
    }
    .about-description{
        font-size: 15px;
    }
    /* ----------------------------- PROJECT SECTION ------------------------------- */
    .projects-heading{
        font-size: 20px;
    }
    .card-heading{
        font-size: 20px;
    }
    .card-description{
        font-size: 15px;
    }
    /* ----------------------------- CONTACT SECTION ------------------------------- */
    .contact-heading{
        font-size: 20px;
    }
    .media-icons{
        font-size: 4.5vh;
    } 
    .rights{
        font-size: 10px;
    }
}

/* ----------------------------- NAVBAR RESPONSIVE ------------------------------- */
@media screen and (max-width: 660px)  {
    .nav-center {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
      }
    .nav-header{
        margin-bottom: 20px;
    }
    .opacity{
        opacity: 0;
    }
    .navbar{
        height: 300px;
        overflow: hidden;
    }
    .nav-height{
        height: 100px;
    }
    .ham {
        display: block;
        /* background-color: white; */
    }
    .nav-items{
        display: flex;
        flex-direction: column;
    }
    .nav-lists{
        padding: 10px 0;
    }

    .active{
        opacity: 1;
        transition: all 0.8s ease-out;
    }
}